nav {
    z-index: 9999;
    color: #333333;
}

.navbar{ 
    background: none;
}

.nav-link {
    font-size: 16px;
    text-transform: uppercase;
    color: #eeeeee;
    font-weight: 500;
}
.nav-link:hover {
    color: #faea92;
}

#logo { 
    width: 50%;
}